.example-card {
    flex: 0 1 28%;
    margin: 10px 10px;    
  }
  
.parentContainer {
    display: flex;
    flex-flow: row wrap;
   justify-content: center;
   background-color: darkgray;
}

@media screen and (max-width: 975px) {
  .example-card {
    flex: 0 1 40%;
    margin: 10px 10px;
  }
}

@media screen and (max-width: 560px) {
  .example-card {
    flex: 0 1 85%;
    margin: 10px 10px;
  }
}
