<div class="parentContainer" color="primary">
<mat-card class="example-card">
    <mat-card-header>
       
      <div mat-card-avatar class="example-header-image" ><mat-icon>golf_course</mat-icon> </div>
      <mat-card-title>Torrey Pines</mat-card-title>
      
    </mat-card-header>
    <img mat-card-image src="https://golfadvisor.brightspotcdn.com/dims4/default/623db78/2147483647/strip/true/crop/3162x1888+0+209/resize/1440x860!/format/jpg/quality/90/?url=https%3A%2F%2Fgolfadvisor.brightspotcdn.com%2F10%2F3b%2Faba4434d9c3bbcdcb7aee5bf3094%2Fp.php">
  </mat-card>



    <mat-card class="example-card">
        <mat-card-header>
           
          <div mat-card-avatar class="example-header-image" ><mat-icon>golf_course</mat-icon> </div>
          <mat-card-title>Omaha Country Club</mat-card-title>
          
        </mat-card-header>
        <img mat-card-image src="https://golfadvisor.brightspotcdn.com/dims4/default/ea20835/2147483647/strip/true/crop/750x484+0+8/resize/930x600!/quality/90/?url=https%3A%2F%2Fgolfadvisor.brightspotcdn.com%2F9d%2F0a%2F92538def77d2ac57d44ac16a2b0a%2F43627.jpg">
      </mat-card>
    

   
        <mat-card class="example-card">
            <mat-card-header>
               
              <div mat-card-avatar class="example-header-image" ><mat-icon>golf_course</mat-icon> </div>
              <mat-card-title>Wild Horse</mat-card-title>
              
            </mat-card-header>
            <img mat-card-image src="https://i.pinimg.com/originals/be/38/05/be38052d81b109d88c5454e08f2cba70.jpg">
          </mat-card>
        
          <mat-card class="example-card">
            <mat-card-header>
               
              <div mat-card-avatar class="example-header-image" ><mat-icon>golf_course</mat-icon> </div>
              <mat-card-title>Quarry Oakes</mat-card-title>
              
            </mat-card-header>
            <img mat-card-image src="https://media-cdn.tripadvisor.com/media/photo-s/02/d5/a5/4a/par-3.jpg" alt="Photo of Quarry Oaks">
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
               
              <div mat-card-avatar class="example-header-image" ><mat-icon>golf_course</mat-icon> </div>
              <mat-card-title>Arrowhead Golf Club</mat-card-title>
              
            </mat-card-header>
            <img mat-card-image src="https://assets.simpleviewinc.com/simpleview/image/fetch/c_fill,h_465,q_50,w_698/https://assets.simpleviewinc.com/simpleview/image/upload/crm/denver/560_Arrowhead9_CreditD2Prod_ff4ed1a9-9b7f-3943-e45a54db7cffdb46.jpg">
          </mat-card>

          <mat-card class="example-card">
            <mat-card-header>
               
              <div mat-card-avatar class="example-header-image" ><mat-icon>golf_course</mat-icon> </div>
              <mat-card-title>Fossil Trace Golf Club</mat-card-title>
              
            </mat-card-header>
            <img mat-card-image src="https://golfcoursegurus.com/photos/colorado/fossiltrace/large/Fossil-Trace-12th-bunker-zoom.jpg">
          </mat-card>

          <ng-container *ngFor="let c of course | async">
        
        
         <mat-card class="example-card" *ngIf="c.course && c.imgUrl">
           <mat-card-header>
              
             <div mat-card-avatar class="example-header-image" ><mat-icon>golf_course</mat-icon> </div>
             <mat-card-title>{{c.course}}</mat-card-title>
             
           </mat-card-header>
           <img mat-card-image [src]="c.imgUrl">
         </mat-card>
       
        
     
    </ng-container> 
</div>


