<body>
<div class="center bgDarkGray">
    <mat-form-field appearance="fill">
      <mat-label>Course</mat-label>
      <input matInput #course>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <textarea matInput #imgUrl></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="addNewCourse(course.value, imgUrl.value)" color='primary'>Post to Best Courses</button>
</div>

<div *ngIf="course.value && imgUrl.value" class="parentContainer example-card">
  
  <mat-card class="example-card">
    <mat-card-header>
       
      <div mat-card-avatar class="example-header-image" ><mat-icon>golf_course</mat-icon> </div>
      <mat-card-title>{{course.value}}</mat-card-title>
      
    </mat-card-header>
    <img mat-card-image [src]="imgUrl.value">
  </mat-card>

</div>
</body>
