body{
    background-color: darkgray;
}

.example-card{ 
    flex: 0 1 55%;
    padding: 25px 25px;  
}

.bgDarkGray{
    background-color: darkgray;
}

.center{
    text-align: center;
    padding-top: 25px;
}
  
.parentContainer {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   background-color: darkgray;
}

@media screen and (max-width: 975px) {
    .example-card {
      flex: 0 1 65%;
      margin: 10px 10px;
    }
  }
  
  @media screen and (max-width: 560px) {
    .example-card {
      flex: 0 1 85%;
      margin: 10px 10px;
    }
  }
  